nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
	div.container-fluid
		div.row
			div.col-md-8.col-md-offset-2
				ul.nav.navbar-nav
					li.active
						a(href="/") Hacker News
					li
						a(href="/submit") Submit

				ul.nav.navbar-nav.pull-right(ng-show="user.name")
					li Hi {{user.name}}
				ul.nav.navbar-nav.pull-right(ng-hide="user.name")
					li
						a(href="/login") Login or sign up

div.container-fluid(ng-controller="NewsController")
	div.row
		div.col-md-8.col-md-offset-2
			ol.list-group
				li.list-group-item.row(ng-repeat="article in articles | orderBy: 'position':true")
					p.col-md-1 {{$index + 1}}.
					p.col-md-2
						button.btn.btn-default(type="button" ng-click="voteArticle(article)")
							span.glyphicon.glyphicon-thumbs-up
					p.col-md-9: <a ng-href="article.url"><span class="h4">{{article.title}}</span></a> ({{article.url}})
					p.col-md-9.col-md-offset-3 {{article.voters.length}} votes submitted by {{article.author.name}} at {{article.createdAt | date:'mediumTime'}}
